<!-- <li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--open" m-dropdown-toggle="click" m-dropdown-persistent="true"> -->
<a href="javascript:;" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
  <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger" [ngClass]="animateBlink"></span>
  <span class="m-nav__link-icon" [ngClass]="animateShake">
    <span class="m-nav__link-icon-wrapper">
      <i class="flaticon-music-2"></i>
    </span>
  </span>
</a>
<div class="m-dropdown__wrapper">
  <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
  <div class="m-dropdown__inner">
    <div class="m-dropdown__header m--align-center" style="background: url(./assets/app/media/img/misc/notification_bg.jpg); background-size: cover;">
      <span class="m-dropdown__header-title">
        8 Nuevas Notificaciones
      </span>
    </div>
    <div class="m-dropdown__body">
      <div class="m-dropdown__content">
        <div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
          <div class="m-scrollable m-scroller ps ps--active-y" data-scrollable="true" data-height="250"
            data-mobile-height="200" style="height: 250px; overflow: hidden;">
            <div class="m-list-timeline m-list-timeline--skin-light">
              <div class="m-list-timeline__items">
                <div class="m-list-timeline__item">
                  <span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
                  <span class="m-list-timeline__text">
                    Factura #035 creada
                  </span>
                  <span class="m-list-timeline__time">
                    Ahora <a href="#" class="notify-link"><i class="fa fa-angle-right"></i></a>
                  </span>
                </div>
                <div class="m-list-timeline__item">
                  <span class="m-list-timeline__badge"></span>
                  <span class="m-list-timeline__text">
                    Transacción #034
                  </span>
                  <span class="m-list-timeline__time">
                    14 mins <a href="#" class="notify-link"><i class="fa fa-angle-right"></i></a>
                  </span>
                </div>
                <div class="m-list-timeline__item">
                  <span class="m-list-timeline__badge"></span>
                  <span class="m-list-timeline__text">
                    Factura #034 creada
                  </span>
                  <span class="m-list-timeline__time">
                    20 mins <a href="#" class="notify-link"><i class="fa fa-angle-right"></i></a>
                  </span>
                </div>
                <div class="m-list-timeline__item">
                  <span class="m-list-timeline__badge"></span>
                  <span class="m-list-timeline__text">
                    Transacción #033
                  </span>
                  <span class="m-list-timeline__time">
                    1 hr <a href="#" class="notify-link"><i class="fa fa-angle-right"></i></a>
                  </span>
                </div>
                <div class="m-list-timeline__item">
                  <span class="m-list-timeline__badge"></span>
                  <span class="m-list-timeline__text">
                    Factura #033 creada
                  </span>
                  <span class="m-list-timeline__time">
                    2 hrs <a href="#" class="notify-link"><i class="fa fa-angle-right"></i></a>
                  </span>
                </div>
                <div class="m-list-timeline__item m-list-timeline__item--read">
                  <span class="m-list-timeline__badge"></span>
                  <span href="" class="m-list-timeline__text">
                    Transacción #032
                  </span>
                  <span class="m-list-timeline__time">
                    7 hrs <a href="#" class="notify-link"><i class="fa fa-angle-right"></i></a>
                  </span>
                </div>
                <div class="m-list-timeline__item m-list-timeline__item--read">
                  <span class="m-list-timeline__badge"></span>
                  <span class="m-list-timeline__text">
                    Factura #032 creada
                  </span>
                  <span class="m-list-timeline__time m-list-timeline__item--read">
                    3 hrs <a href="#" class="notify-link"><i class="fa fa-angle-right"></i></a>
                  </span>
                </div>
                <div class="m-list-timeline__item m-list-timeline__item--read">
                  <span class="m-list-timeline__badge"></span>
                  <span class="m-list-timeline__text">
                    Transacción #031
                  </span>
                  <span class="m-list-timeline__time">
                    5 hrs <a href="#" class="notify-link"><i class="fa fa-angle-right"></i></a>
                  </span>
                </div>
              </div>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
              <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; right: 4px; height: 250px;">
              <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 230px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </li> -->
