.mat-dialog-container {
    padding: 0px!important;
}
.green-modal.bignumber::placeholder {
    color: #ffffff;
    opacity: 0.7;
 }
#payment-ref{
   text-align: center;
}
#payment-ref::placeholder{  
   opacity: 0.6;
}