<!-- begin::Footer -->
<div class="m-container m-page__container m-container--full-height" [ngClass]="footerContainerClass$ | async">
  <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
    <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
      <span class="m-footer__copyright">
        2018 © Dashboard by
        <a href="https://druo.com/" class="m-link">
          DRUO
        </a>
      </span>
    </div>
    <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
      <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="m-nav__link-text">
              <a href="/" class="m-link">
                Soporte
              </a>
            </span>
          </a>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="m-nav__link-text">
              <a href="/" class="m-link">
                Terminos y Condiciones
              </a>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end::Footer -->
